* {
    box-sizing: border-box;
    text-align: center;
}

h1{
    display: block;
    top: 100px;
position: absolute;
text-transform: uppercase;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0px;
 padding: 0px;
 display: flex;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin: 0px;
 justify-content: center;
 align-items: center;
 background-color: silver;
 width: 100vw;
 height: 100vh;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 80%;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
    padding: 5px 10px;
    color: darkslategrey;
    border-radius: 10px;
}
.btn:hover {
    border-color: lightblue;
}

 .resetBtn{
    border-radius: 200px;
    display: block;
    position: absolute;
    background-color: red;
    bottom: 30px;
    left: 650px;
} 
.resetBtn:hover {
    border-color: yellow;
}